{
    "MONGODB_HOST": "localhost",
    "MONGODB_PORT": 27017,
    "DB_NAME": "admin",
    "EVENTS_TABLE_NAME": "events",
    "CONTACTS_REPORT_RESULTS_TABLE_NAME": "reports",
    "FREEBIE_REPORT_RESULTS_TABLE_NAME": "test_data.freebies",
    "REPORT_ANALYSIS_TIME_WINDOW": 10,
    "SAMPLE_DATA_FILE_NAME": "k.csv"
}